* {
  border-radius: 0;
  font-family: "RobotoMono Nerd Font";
  font-size: 1.05em;
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
  color: #cdd6f4;
  margin-top: 20px;
}

#workspaces {
  background: rgba(51, 46, 65, 0.5);
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 15px;
}

#workspaces button {
  padding-left: 10px;
  padding-right: 10px;
  min-width: 0;
  transition: color 0.4s ease;
}

#workspaces button.focused {
  color: #89b4fa;
}

#workspaces button.urgent {
  color: #f38ba8;
}

#workspaces button:hover {
  color: #74c7ec;
}

#clock,
#battery,
#pulseaudio,
#workspaces,
#mpd {
  padding: 2px 10px;
  background: rgba(51, 46, 65, 0.5);
  margin-top: 5px;
  margin-bottom: 5px;
}

#network {
  padding-left: 15px;
  padding-right: 2px;
  background: rgba(51, 46, 65, 0.5);
  border-radius: 15px 0px 0px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#clock {
  padding-right: 15px;
  margin-right: 10px;
  border-radius: 0px 15px 15px 0px;
}

#custom-spotify,
#window {
  background: rgba(51, 46, 65, 0.5);
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 15px;
}

#waybar.empty #window {
  background: none;
}
